@font-face {
  src: url("CursedTimerUlil-Aznm.ttf");
  font-family: CursedTimerUlil;
}

* {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

body {
  background-color: #8ecae6;
}

.container {
  margin-top: 5em;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #219ebc;
  font-size: 1.5rem;
}

.container h3:hover {
  cursor: default;
}

.score-font {
  font-family: CursedTimerUlil, Verdana;
}

.score {
  color: #fb8500;
  background-color: #023047;
  padding-top: 1.25em;
  padding-bottom: 0.75em;
  margin: 1em 0;
  border-radius: 10px;
}

.score p {
  font-size: 3.5rem;
}

.score p:hover {
  cursor: default;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

.btn-group button {
  font-size: 0.75rem;
  border: 2px solid #023047;
  padding: 0.25em;
  border-radius: 5px;
  background-color: #8ecae6;
  color: #023047;
}

.btn-group button:hover {
  cursor: pointer;
}

.btn-newgame {
  display: block;
  margin: 1em auto 0 auto;
  font-size: 0.75rem;
  border: 2px solid #023047;
  padding: 1em 0.5em;
  border-radius: 5px;
  color: #023047;
  background-color: #ffb703;
}

.btn-newgame:hover {
  cursor: pointer;
}
